#header{
  margin-bottom: 0px !important;
}
.am-topbar-brand{
  margin-left: 50px;
}
.am-topbar{
  background: #417690;
  color: #f5dd5d;
  >.am-topbar-brand>a{
     color: #f5dd5d;
  }
  ul.am-nav{
    >li>a{
      color: #f5dd5d;
      &:hover{
        background: #79aec8;
        color: white;
      }
    }
  }

}

.footer{
    color: #777;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  text-align: center;
}