#header{
  margin-bottom: 0px !important;
}
.am-topbar-brand{
  margin-left: 50px;
}
.am-topbar{
  background: #417690;
  color: #f5dd5d;
  >.am-topbar-brand>a{
     color: #f5dd5d;
  }
  ul.am-nav{
    >li>a{
      color: #f5dd5d;
      &:hover{
        background: #79aec8;
        color: white;
        &::after{
          border-bottom: 7px solid #f5dd5d;
        }
      }
    }
  }

}

.user-welcome{
  display: inline-block;
  font-size: 80%;
  margin-top: 8px;
  padding-top: 8px;
  >a{
    color: white;
    &:hover{
      color: #f5dd5d;
    }
  }
}

.footer{
  color: #777;
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  p{
    line-height: 20px;
    height: 20px;
  }
}