@import "vars";
.masthead{
    text-align: center;
    background-color: $theme_color ;
    background-image: url("../img/hbg.jpg");
    color: #ffffff;
    border-radius:0 !important;
}
.masthead-content{
  height:300px ;
  padding-top: 60px;
}
.info{

}