$theme-color:           purple;
$theme-color-secondary: #996699;
$theme-color-panel:     #6699cc;
$theme-link-color:      #f5dd5d;
$global-primary:	    #0e90d2; // #157EFB; //#428bca;
$global-secondary:      lighten($global-primary, 15%);
$global-success:	    #5eb95e; // #53D76A; //#5cb85c;
$global-warning:	    #F37B1D; // #FD9426; // #f0ad4e;
$global-danger:		    #dd514c; // #FC3159; //#da314b;
$global-info:           $global-secondary;
$background:            #ddd;
