<!DOCTYPE html>
<html>
<meta charset="utf8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

    <title>{% block title %}{% endblock %}</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'lib/amazeui/dist/css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
{% block myStyle %}{% endblock %}
</head>
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<body>
<header class="am-topbar" id="header">
  <h1 class="am-topbar-brand">
    <a href="/">数据导入系统</a>
  </h1>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
     <ul class="am-nav am-nav-pills am-topbar-nav">
         <li><a href="/">首页</a></li>
         <li><a href="/user">志愿者管理</a></li>
         <li><a href="#">机构管理</a></li>
         <li><a href="#">活动管理</a></li>
     </ul>

      <div class="am-topbar-right">

          <button onclick="window.open('/admin','_blank');"
                  class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"> <i class="am-icon-cog"></i>系统管理</button>
      </div>
    <div class="am-topbar-right">
         <span class="user-welcome">欢迎，{% if user.first_name %}
              {{ user.first_name }}
           {% else %}
               {{ user.username }}
           {% endif %}/<a href="/admin/logout" alt="退出">退出</a>
           </span>
        </div>
  </div>
</header>
<div class="am-container-default content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    <footer class="footer">
        <div class="am-container">
            <div class="foot-item">
                <h2>业务范围</h2>
                <ul>
                    <li>资产管理</li>
                    <li>投资管理</li>
                    <li>投资咨询</li>
                    <li>项目投资</li>
                </ul>
            </div>
            <div class="foot-item">
                <h2>友情链接</h2>
                <ul>
                    <li><a href="">清华紫光</a></li>
                    <li><a href="">中金数据</a></li>
                </ul>
            </div>
            <div class="foot-item">
                <h2>关于本站</h2>
                <ul>
                    <li>数据导入</li>
                    <li>数据管理</li>
                    <li>数据筛选</li>
                </ul>
            </div>
             <div class="foot-item">
                <h2>联系我们</h2>
                <ul>
                    <li>电子邮件：<br/><a href="mailto://dddpeter@126.com">dddpeter@126.com</a></li>
                </ul>
            </div>
            <span>Copyright 2016 © 中青信投集团</span>
        </div>
    </footer>
{% endblock %}
<script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'lib/amazeui/dist/js/amazeui.min.js' %}"></script>
{% block myScript %}{% endblock %}
</body>
</html>

