{% extends "base.html" %}
{% spaceless %}
{% block title %}首页{% endblock %}

{% block myStyle %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="jumbotron masthead">
      <div class="am-container-default masthead-content">
        <h1>欢迎您访问本网站</h1>
        <h2>志愿者信用数据导入</h2>
        <p class="masthead-button-links">
          <a class="am-btn am-btn-lg am-btn-primary"
             href="" target="_blank" role="button">开始导入</a>
        </p>
        <ul class="masthead-links">
        </ul>
      </div>
    </div>
    <h1>

    </h1>
{% endblock %}
{% block custom_script %}
<script>
   $(document).ready(function(){
      jQuery.post('/json_test',JSON.stringify({a:100,b:2}),function(data){
          console.log(data);
       },'json');
   });
</script>
{% endblock %}
{% endspaceless %}
